<%= javascript_include_tag 'datatable_functions' %>
<h1>Devices</h1><br />
<table id='devices' class='datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>Port</th>
      <th>State</th>
	  <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr id="<%= dom_id(device) %>">
        <td><%= device.name %></td>
        <td><%= device.ip %></td>
        <td><%= device.port %></td>
		<td><%= device.last_state %></td>
        <td><%= link_to "Edit", edit_device_path(device) %></td>
      </tr>
    <% end %>
  </tbody>
</table>