<h1>Device</h1>
<p>Name: <%= @device.name %></p>
<p>Description: <%= @device.description %></p>
<p>IP: <%= @device.ip %></p>
<p>Port: <%= @device.port %></p>
<p>Last State: <%= @device.last_state %></p>
<p>Last Checked: <%= (Time.now - @device.last_checked).round/60 %> minutes ago</p>
<p># Times Up: <%= @device.times_up %></p>
<p>% Uptime: <%= @uptime %></p>
